$font-size:12px;

@import "breakpoint";

aside{
  @include breakpoint(xlarge) {
    width: 8%;
  }
  @include breakpoint(medium) {
    float: none;
    display: none;
  }
}

aside .menu-section{
  @include breakpoint(medium) {
    display: inline;
  }
}


.wrapper {
  width: 50%;
  margin: auto 17%;
}

.game-wrapper{
  border: 2px solid green;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(xlarge) {
    width: 1000px;
  }
  @include breakpoint(large) {
    width: 800px;
  }
  @include breakpoint(medium) {
    width: 450px;
  }
  @include breakpoint(small) {
    width: 420px;
  }
  @include breakpoint(tiny) {
    width: 350px;
  }
}

.game-square{
  @include breakpoint(xlarge) {
    height: 170px;
  }
  @include breakpoint(large) {
    height: 130px;
  }
  @include breakpoint(medium) {
    height: 108px;
  }
  @include breakpoint(small) {
    height: 65px;
  }
  @include breakpoint(tiny) {
  height: 50px;
  }
}

.submit-move, .move-image{
  width: 100%;
  height: 100%;
}
