/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background-image: url('../images/black_table.png');
     /*font-family: 'Covered By Your Grace', cursive;*/

}

h1,h2,h3,h4,h5, legend {
  font-family: 'Covered By Your Grace', cursive;
}



/*.game-board {
  width: 50%;
  margin: auto 25%;
  border: 2px solid red;

}
​
.wrapper {
    border: 2px solid green;
    height: 60vw;
  }
}
​
@media (max-width: 992px) {
  .game-board {
    width: 90%;
    margin: auto 5%;
    & section {
      height: 33.333vw;
    }
  }
}*/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/*.game-board > form{
  border: 2px solid black;
  height: 5em;
}*/

.cell-number, .cell-move{
  display: none;
}
