@font-face {
    font-family: asianFont;
    src: url('../fonts/asian_font.ttf');
}



/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
     font-size: 12px;
     line-height: 1.4;
     background-image: url('../images/black_table.png');
     font-family: 'asianFont';
}

h1,h2,h3,h4,h5, legend {
  font-family: 'asianFont';
}

h1{
  text-align: center;
  margin-bottom: 0;
}

aside{
  float: left;
  border: 2px solid green;
}

aside img{
  width: 75%;
}

wrapper{
  float: left;
  background-image: url('../images/mat.png');
  background-repeat: no-repeat;
}

.menu-section{
  margin-bottom: 3em;
}
.modal-body input[type='text'], input[type='password']{
    display: block;
    margin: 2em auto;
    line-height: 2em;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    width: 50%;
    text-align: center;
    font-family: 'asianFont';
  }


.modal-body input[type='submit'], .modal-body input[type='button']{
    margin: 0.8em 0.8em;
    font-size:1.5em;
  }

#sign-in-modal img, #sign-up-modal img, #change-password-modal img{
  width: 40%;
}

#winner-image{
  width: 40%;
}


.game-square{
  background-image: url('../images/plate.png');
  background-size: cover;
  padding: 2% 2%;
}

.cell-number, .cell-move{
  display: none;
}
